flows.json
[
    {
        "id": "519a1888.4e9508",
        "type": "tab",
        "label": "Hue Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15226b9.40e7f94",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f886166.ce58",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "15226b9.40e7f94",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f33b64d.010e28",
        "type": "hue-bridge",
        "z": "",
        "name": "Sam's Hue Bridge",
        "bridge": "192.168.86.65",
        "key": "nLCbhV5up7xo08SEOLLuWJEPlAh3DE0b-lYDHsyg",
        "interval": "3000"
    },
    {
        "id": "aaf1b815.fd8698",
        "type": "inject",
        "z": "519a1888.4e9508",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "11c2f64a.5e566a"
            ]
        ]
    },
    {
        "id": "37958e2.52a5072",
        "type": "exec",
        "z": "519a1888.4e9508",
        "command": "arp -a | grep -v \"<incomplete>\" | awk '{print $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "check connected devices",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "af18bea3.c660f"
            ],
            [],
            []
        ]
    },
    {
        "id": "11c2f64a.5e566a",
        "type": "exec",
        "z": "519a1888.4e9508",
        "command": "nmap -sP -n 192.168.86.0/24",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "refresh arp table",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "37958e2.52a5072"
            ],
            [],
            []
        ]
    },
    {
        "id": "af18bea3.c660f",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "check for mobile devices",
        "func": "all_devices = msg.payload.split('\\n');\nvar cell_phones = [\"44:91:60:cb:45:b0\",\"7c:a1:ae:e9:cb:07\",\"58:6b:14:8d:98:ac\"] // S9+, Work iPhone, Alli's iPhone\nmsg.present = cell_phones.some(c => all_devices.includes(c)); // See if all_devices contains at least one of the MAC addresses in cell_phones\nmsg.today = new Date().getTime() / 1000;\nmsg.today_formatted = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 80,
        "wires": [
            [
                "b18ae5f1.410268"
            ]
        ]
    },
    {
        "id": "b18ae5f1.410268",
        "type": "switch",
        "z": "519a1888.4e9508",
        "name": "if any present",
        "property": "present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 80,
        "wires": [
            [],
            [
                "578fcaa3.b0cfd4"
            ]
        ]
    },
    {
        "id": "bcc910c9.cf47f",
        "type": "http request",
        "z": "519a1888.4e9508",
        "name": "get sunset time",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.sunrise-sunset.org/json?lat=34.439590&lng=-119.769341&formatted=0&date=yesterday",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2120,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "411f1093.8d967",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "check if after sunset",
        "func": "msg.obj = JSON.parse(msg.payload);\n\n// Convert formatted datetime to unix timestamp\nmsg.sunset_formatted = msg.obj.results.sunset;\nvar sunset = new Date(msg.sunset_formatted);\nmsg.sunset_utc = sunset.getTime() / 1000;\n\n// If the current time is after sunset, return true\nif (msg.today > msg.sunset) {\n    msg.past_sunset = true;\n} else {\n    msg.past_sunset = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c2bac4e4.3834e8",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Living Room Ceiling",
        "bridge": "4f33b64d.010e28",
        "groupid": "2",
        "colornamer": true,
        "x": 1440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f8617a4d.3c0da8",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Office",
        "bridge": "4f33b64d.010e28",
        "groupid": "1",
        "colornamer": true,
        "x": 1390,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc4e5d2.baa48c",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Living Room Corner",
        "bridge": "4f33b64d.010e28",
        "groupid": "7",
        "colornamer": true,
        "x": 1440,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1bb5e2.c671b8",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Sam Nightstand",
        "bridge": "4f33b64d.010e28",
        "groupid": "6",
        "colornamer": true,
        "x": 1420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "578fcaa3.b0cfd4",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "turn off lights",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "c2bac4e4.3834e8",
                "f8617a4d.3c0da8",
                "7cc4e5d2.baa48c",
                "cf1bb5e2.c671b8"
            ]
        ]
    },
    {
        "id": "f167a837.ea5198",
        "type": "http in",
        "z": "519a1888.4e9508",
        "name": "Flux Endpoint",
        "url": "/flux",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "a7477e79.67292",
                "972c6994.0e0758"
            ]
        ]
    },
    {
        "id": "a7477e79.67292",
        "type": "switch",
        "z": "519a1888.4e9508",
        "name": "if flux changes to sunset",
        "property": "req.query.ct",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "3400",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "3400",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "a3d09d21.2d9d8"
            ],
            [
                "b670fcdd.0445d"
            ]
        ]
    },
    {
        "id": "a3d09d21.2d9d8",
        "type": "hue-scene",
        "z": "519a1888.4e9508",
        "name": "Corner Lamp Relax",
        "bridge": "4f33b64d.010e28",
        "sceneid": "MTX4sFiDFXoGkh2",
        "x": 910,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "972c6994.0e0758",
        "type": "debug",
        "z": "519a1888.4e9508",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.query.ct",
        "targetType": "msg",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "b670fcdd.0445d",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "turn off corner lamp",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "9bfa5f28.cdeb1"
            ]
        ]
    },
    {
        "id": "9bfa5f28.cdeb1",
        "type": "hue-light",
        "z": "519a1888.4e9508",
        "name": "Corner Lamp",
        "bridge": "4f33b64d.010e28",
        "lightid": "1",
        "colornamer": true,
        "x": 890,
        "y": 440,
        "wires": [
            []
        ]
    }
]