flows.json
[
    {
        "id": "519a1888.4e9508",
        "type": "tab",
        "label": "Hue Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15226b9.40e7f94",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f886166.ce58",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "15226b9.40e7f94",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f33b64d.010e28",
        "type": "hue-bridge",
        "z": "",
        "name": "Sam's Hue Bridge",
        "bridge": "192.168.86.65",
        "key": "nLCbhV5up7xo08SEOLLuWJEPlAh3DE0b-lYDHsyg",
        "interval": "3000"
    },
    {
        "id": "ecdb78b3.f2dd98",
        "type": "amazon config",
        "z": "",
        "name": "nodered-iam-sns",
        "region": "us-east-1",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "eb5ecdf7.3bc9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "abb7fff0.53834",
        "type": "chatbot-discord-node",
        "z": "",
        "botname": "pugbot",
        "usernames": "",
        "clientId": "551718676303183882",
        "store": "",
        "log": "",
        "debug": true
    },
    {
        "id": "e905782d.2ba0c8",
        "type": "discord-token",
        "z": "",
        "name": "pugbot"
    },
    {
        "id": "aaf1b815.fd8698",
        "type": "inject",
        "z": "519a1888.4e9508",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "11c2f64a.5e566a"
            ]
        ]
    },
    {
        "id": "37958e2.52a5072",
        "type": "exec",
        "z": "519a1888.4e9508",
        "command": "arp -a | grep -v \"<incomplete>\" | awk '{print $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "check connected devices",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "af18bea3.c660f"
            ],
            [],
            []
        ]
    },
    {
        "id": "11c2f64a.5e566a",
        "type": "exec",
        "z": "519a1888.4e9508",
        "command": "nmap -sP -n 192.168.86.0/24",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "refresh arp table",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "37958e2.52a5072"
            ],
            [],
            []
        ]
    },
    {
        "id": "af18bea3.c660f",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "check for mobile devices",
        "func": "all_devices = msg.payload.split('\\n');\nvar cell_phones = [\"44:91:60:cb:45:b0\",\"7c:a1:ae:e9:cb:07\",\"58:6b:14:8d:98:ac\"] // S9+, Work iPhone, Alli's iPhone\nmsg.present = cell_phones.some(c => all_devices.includes(c)); // See if all_devices contains at least one of the MAC addresses in cell_phones\nmsg.today = new Date().getTime() / 1000;\nmsg.today_formatted = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "b18ae5f1.410268"
            ]
        ]
    },
    {
        "id": "b18ae5f1.410268",
        "type": "switch",
        "z": "519a1888.4e9508",
        "name": "if any present",
        "property": "present",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "95fa062c.ea3348"
            ],
            [
                "578fcaa3.b0cfd4"
            ]
        ]
    },
    {
        "id": "bcc910c9.cf47f",
        "type": "http request",
        "z": "519a1888.4e9508",
        "name": "get sunset time",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.sunrise-sunset.org/json?lat=34.439590&lng=-119.769341&formatted=0&date=yesterday",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2120,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "411f1093.8d967",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "check if after sunset",
        "func": "msg.obj = JSON.parse(msg.payload);\n\n// Convert formatted datetime to unix timestamp\nmsg.sunset_formatted = msg.obj.results.sunset;\nvar sunset = new Date(msg.sunset_formatted);\nmsg.sunset_utc = sunset.getTime() / 1000;\n\n// If the current time is after sunset, return true\nif (msg.today > msg.sunset) {\n    msg.past_sunset = true;\n} else {\n    msg.past_sunset = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c2bac4e4.3834e8",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Living Room Ceiling",
        "bridge": "4f33b64d.010e28",
        "groupid": "2",
        "colornamer": true,
        "x": 1080,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f8617a4d.3c0da8",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Office",
        "bridge": "4f33b64d.010e28",
        "groupid": "1",
        "colornamer": true,
        "x": 1030,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc4e5d2.baa48c",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Living Room Corner",
        "bridge": "4f33b64d.010e28",
        "groupid": "7",
        "colornamer": true,
        "x": 1080,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1bb5e2.c671b8",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Sam Nightstand",
        "bridge": "4f33b64d.010e28",
        "groupid": "6",
        "colornamer": true,
        "x": 1060,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "578fcaa3.b0cfd4",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "Turn off lights",
        "func": "msg.payload = false;\nmsg.state = \"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "c2bac4e4.3834e8",
                "f8617a4d.3c0da8",
                "7cc4e5d2.baa48c",
                "cf1bb5e2.c671b8",
                "12a2a87e.0e2648"
            ]
        ]
    },
    {
        "id": "f167a837.ea5198",
        "type": "http in",
        "z": "519a1888.4e9508",
        "name": "Flux Endpoint",
        "url": "/flux",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "a7477e79.67292",
                "972c6994.0e0758",
                "155e285a.9c00a8"
            ]
        ]
    },
    {
        "id": "a7477e79.67292",
        "type": "switch",
        "z": "519a1888.4e9508",
        "name": "if sunrise or sunset",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sunrise",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sunset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "fd8e4dae.97c36",
                "6b8ff375.af84ec"
            ],
            [
                "a3d09d21.2d9d8",
                "bc390adb.b6a6c8"
            ]
        ]
    },
    {
        "id": "a3d09d21.2d9d8",
        "type": "hue-scene",
        "z": "519a1888.4e9508",
        "name": "Turn on living room corner",
        "bridge": "4f33b64d.010e28",
        "sceneid": "MTX4sFiDFXoGkh2",
        "x": 670,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "972c6994.0e0758",
        "type": "debug",
        "z": "519a1888.4e9508",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "155e285a.9c00a8",
        "type": "http response",
        "z": "519a1888.4e9508",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "145855a9.3ba77a",
        "type": "hue-group",
        "z": "519a1888.4e9508",
        "name": "Living Room Corner",
        "bridge": "4f33b64d.010e28",
        "groupid": "7",
        "colornamer": true,
        "x": 800,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd8e4dae.97c36",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "Turn off",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "145855a9.3ba77a"
            ]
        ]
    },
    {
        "id": "754e8ab3.8e9944",
        "type": "discord-send-messages",
        "z": "519a1888.4e9508",
        "name": "",
        "channel": "pugbot_testing",
        "token": "e905782d.2ba0c8",
        "x": 1740,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b8ff375.af84ec",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "Send notification",
        "func": "msg.payload = \"@samling Corner light turned off (sunrise)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "754e8ab3.8e9944"
            ]
        ]
    },
    {
        "id": "bc390adb.b6a6c8",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "Send notification",
        "func": "msg.payload = \"@samling Corner light turned on (sunset)\";",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "754e8ab3.8e9944"
            ]
        ]
    },
    {
        "id": "31acc0b2.e94ed",
        "type": "delay",
        "z": "519a1888.4e9508",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "12a2a87e.0e2648",
        "type": "rbe",
        "z": "519a1888.4e9508",
        "name": "Notify if state changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "state",
        "x": 1080,
        "y": 60,
        "wires": [
            [
                "ee6df239.146dc"
            ]
        ]
    },
    {
        "id": "95fa062c.ea3348",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "Notify state on",
        "func": "msg.state = \"on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 20,
        "wires": [
            [
                "12a2a87e.0e2648"
            ]
        ]
    },
    {
        "id": "c96c377.f835ec8",
        "type": "debug",
        "z": "519a1888.4e9508",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1730,
        "y": 100,
        "wires": []
    },
    {
        "id": "ee6df239.146dc",
        "type": "switch",
        "z": "519a1888.4e9508",
        "name": "if on or off",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1260,
        "y": 60,
        "wires": [
            [],
            [
                "f5891dce.69006"
            ]
        ]
    },
    {
        "id": "f5891dce.69006",
        "type": "function",
        "z": "519a1888.4e9508",
        "name": "Send notification",
        "func": "msg.payload = \"@samling Lights turned off (no one at home)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 100,
        "wires": [
            [
                "c96c377.f835ec8",
                "754e8ab3.8e9944"
            ]
        ]
    }
]